<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>139433578414-kb3cj1la05v3tfs7u4jodekd2satb63b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139433578414-kb3cj1la05v3tfs7u4jodekd2satb63b</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3tCp7umoHLyQlYELtyvcAUQ9Etoi3_w</string>
	<key>GCM_SENDER_ID</key>
	<string>139433578414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgedesigns.Letsrun</string>
	<key>PROJECT_ID</key>
	<string>letsrun-cc198</string>
	<key>STORAGE_BUCKET</key>
	<string>letsrun-cc198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:139433578414:ios:6a68276af6f220c2</string>
	<key>DATABASE_URL</key>
	<string>https://letsrun-cc198.firebaseio.com</string>
</dict>
</plist>
